extends partial/layout

block site_title
    != "标签 · " + config.title

block container
    include mixins/post
    +tags()

//- block pagination
//-     include mixins/paginator
//-     +home()

block copyright
    include partial/copyright